.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalBox{
  background: white;
  width: 420px;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  height: 500px;
}
.realform{
  height: 300px;
  width: full;
  display: flex;
  flex-direction: column;
  background-clip: red;
  overflow: auto;
  border: navy;
}
.bas2{
  height: 35px;
  margin-top: 8px;
  border: 1px solid black;
  padding: 14px;
  border-radius: 5px;
}

.bt1{
   height: 35px;
  margin-top: 8px;
  border: 1px solid rgb(17, 240, 221);
  padding: 14px;
  border-radius: 10px;
 width: full;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 18px;
 background-color: #f03232;
 color: black;

}
.bt1:hover{
  background-color: #000000;
 color:whitesmoke;
 cursor: pointer;
 transition-duration: 1s;
}
.closeBtn{
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.cover{
  height: 120px;
  background: #777;
  border-radius: 8px;
  margin-bottom: 10px;
}

.editimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.cover input{
  margin-top: 6px;
}
