*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.imgsab{
  height: 50px;
  width: 60px;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.mainnav{
  height: 65px;
  width: 100vw;
  background-color: #ffffff;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 10px rgb(138, 135, 135);
}


.search-icon {
  width: 20px;
  height: 30px;
  cursor: pointer;
}
.inp2{
   height:26px;
  width: 230px;
  outline: none;
  background-color: #f6f0f0;
  border-radius: 6px;
 
}
.sbar{
  height: 34px;
  width: 280px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
 
   gap: 8px;

  padding: 0 10px;
}
.dp1{
   height: 40px;
  width: 40px;
  border-radius: 50%;
}


.leftbar{

  display: flex;
  align-items: center;

 
}

.rightbar{
  display: flex;
  justify-content: space-around;
}

#home1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#netw{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#notif{
   display: flex;
  flex-direction: column;
  align-items: center;

}
.rh1{
  margin: 30px;
  cursor: pointer;
}
.formdiv{
  margin: 50px;
}

.profile-popup{
 position: absolute;
  top: 60px;
  right: 0;

  height: 250px;
  width: 210px;
  background-color: pink;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#kam{
  margin-left: 70px;
}
.part1{
  padding: 10px;
}

.sam1{
  height: 20px;
  width: 100px;
  color: black;
}

.popp {
  text-align: center;
  font-weight: 600;
  margin-top: 6px;
}

.vp1 {
  margin: 10px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #4da6ff;
  background-color: white;
  color: #4da6ff;
  cursor: pointer;
}

.vp1:hover {
  margin: 10px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #1c78d4;
  background-color: rgb(113, 245, 190);
  color: #050506;
  cursor: pointer;
  transition-duration: 1s;
}

.network {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}

.signout {
  margin: 10px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid red;
  background-color: white;
  color: red;
  cursor: pointer;
}
.signout:hover {
  margin: 10px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid rgb(97, 240, 9);
  background-color: rgb(244, 20, 20);
  color: rgb(4, 4, 4);
  cursor: pointer;
  transition-duration: 1s;
}