*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
 
}

.sabmain{
  height: 100vh;
  width: 100vw;

  background-color: #7ab7c0;
}


.imgs1{
  height: 60px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition:  height 0.4s ease,
    width 0.4s ease,
    box-shadow 0.4s ease;;
}

.imgs1:hover{
  height: 65px;
  width: 155px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 0 15px rgb(1, 1, 34);
}

.err1{
  color: red;
 
}

.formkam{
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
 
}

#allinp{
  height: 35px;
  width: 260px;
 margin-bottom: 10px;
  padding: 10px;
  margin-left: 11px;
  border:1px solid black;
  border-radius: 5px;
  background-color:#d0dadb ;
  color: black;
}

.mainform{
  margin-bottom: 50px;
}
.p1kam{
  font-size:30px;
  margin-bottom: 10px;
  font-weight: 300;
  margin-right: 150px;
  
}
.sab1{
   height: 35px;
  width: 240px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #40bed7;
  font-size: 20px;
}
.sab1:hover{
  height: 35px;
  width: 240px;
  background-color: #32a6bd;
  cursor: pointer;

}
.sam1{
  height: 35px;
  width: 260px;
 
  border-radius: 5px;
  display: flex;
 justify-content: flex-start; /* CHANGE */
  margin-left: 11px;           /* CHANGE */

  
}
.ham1{
  height: 35px;
  width: 80px;
  background-color: #61b1df;
  color: black;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
text-decoration: none;

}

.lam{
  text-decoration: none;
}

.formkam1{
  height: 450px;
  width: 280px;
  background-color: #83c2c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 13px #39747b;

}
.kam1{
 
  width: 280px;
  display: flex;
  justify-content: center;
  /* margin-bottom: 100px; */
  font-size: 20px;
}
.jan{
  color: red;
}

.log1{
  height: 20px;
  width: 70px;
  background-color: #12b6c2;
  border-radius: 4px;
  cursor: pointer;
}

.log1:hover{
  background-color: #0d828a;
  color: black;

}

.formkam1:hover{
 height: 450px;
  width: 280px;
  background-color: #8bcbd2;
}

#allinp:hover{
  background-color:#b4e2e5 ;
}